@model IEnumerable<WebViecLam.Models.Job>
@{
    ViewData["Title"] = "JobByCompany";
    Layout = "~/Views/Shared/_JobList.cshtml";
}


<div class="row">
	@foreach (var item in Model) {
	<div class="col-md-4 col-xs-6">
		<div class="product">
			<div class="product-img">
				<img src="../../@item.Company.CompanyImage" alt="">
				
			</div>
			<div class="product-body">		
					<h4 class="product-price">Công ty @item.Company.CompanyName</h4>
					<h3 class="product-name"><a href="#" tabindex="-1">Vị trí tuyển dụng: @item.JobName</a></h3>
					<p class="product-category ">Số lượng tuyển: @item.JobQuantity </p>
				<div class="product-btns">
					<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
					<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
					<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
				</div>
			</div>
			<div class="add-to-cart">
					<button class="add-to-cart-btn"> <a href="~/Jobs/JobDetails?id=@item.JobId">Xem chi tiết</a> </button>
			</div>
		</div>
	</div>
	

	<div class="clearfix visible-sm visible-xs"></div>

	}
</div>