@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}


@if (User.Identity.IsAuthenticated){
    <h1>Welcome to uyour Profile Page or you can LogOut from <a href="/Account/Logout">Logout </a> here</h1>
}else{
    <h1>Please go to the <a href="/Account/Login">Login Page</a></h1>
}